version: '3.8'

services:
  # -----------------------------------------------------------------------------
  # 1. DATABASE LAYER: MySQL 8.0
  # -----------------------------------------------------------------------------
  mysql:
    image: mysql:8.0
    container_name: soa-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: keycloak_db # Default DB to check health
    command: 
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - soa-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-proot_password"]
      interval: 10s
      timeout: 5s
      retries: 5

  # -----------------------------------------------------------------------------
  # 2. CACHING LAYER: Redis 7
  # -----------------------------------------------------------------------------
  redis:
    image: redis:7-alpine
    container_name: soa-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - ./redis_data:/data
    networks:
      - soa-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  # -----------------------------------------------------------------------------
  # 3. MESSAGING LAYER: RabbitMQ
  # -----------------------------------------------------------------------------
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: soa-rabbitmq
    ports:
      - "5672:5672"   # App port
      - "15672:15672" # UI port
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
    networks:
      - soa-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 15s
      timeout: 10s
      retries: 5

  # -----------------------------------------------------------------------------
  # 4. SERVICE DISCOVERY & CONFIG: Consul
  # -----------------------------------------------------------------------------
  consul:
    image: hashicorp/consul:1.18
    container_name: soa-consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    command: agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0
    volumes:
      - ./consul_data:/consul/data
    networks:
      - soa-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
      interval: 10s
      timeout: 5s
      retries: 3

  # -----------------------------------------------------------------------------
  # 5. OBJECT STORAGE: MinIO (S3 Compatible)
  # -----------------------------------------------------------------------------
  minio:
    image: minio/minio:latest
    container_name: soa-minio
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_password
    command: server /data --console-address ":9001"
    volumes:
      - ./minio_data:/data
    networks:
      - soa-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 3

  # -----------------------------------------------------------------------------
  # 6. IDENTITY & ACCESS: Keycloak 23
  # -----------------------------------------------------------------------------
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: soa-keycloak
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # DB Configuration
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://soa-mysql:3306/keycloak_db
      KC_DB_USERNAME: root
      KC_DB_PASSWORD: root_password
      KC_HOSTNAME: localhost # For local dev
    command: start-dev
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - soa-network

  maildev:
    image: maildev/maildev
    container_name: soa-maildev
    ports:
      - "1080:1080" # Web UI (Truy cập localhost:1080 để xem mail)
      - "1025:1025" # SMTP Port
    networks:
      - soa-network


    # ============================================================
  # MICROSERVICES APPLICATION
  # ============================================================

  # 1. API GATEWAY
  api-gateway:
    build:
      context: .                      # Ngữ cảnh là thư mục gốc
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/v-tourhub
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/v-tourhub/protocol/openid-connect/certs
    depends_on:
      consul:
        condition: service_healthy
      keycloak:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - soa-network

  # 2. USER PROFILE SERVICE
  userprofile-service:
    build:
      context: .
      dockerfile: userprofile-service/Dockerfile
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/user_profile_db
      - SPRING_DATASOURCE_USERNAME=soa_user
      - SPRING_DATASOURCE_PASSWORD=soa_password
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=admin123
      - SPRING_CLOUD_CONSUL_HOST=consul
      - STRING_CLOUD_CONSUL_PORT=8500
      - TZ=Asia/Ho_Chi_Minh
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/v-tourhub/protocol/openid-connect/certs
      - MINIO_URL=http://minio:9000
      - MINIO_ACCESS_KEY=minio_admin
      - MINIO_SECRET_KEY=minio_password
      - MINIO_BUCKET=user-avatars
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      consul:
        condition: service_healthy
      minio:
        condition: service_healthy
      keycloak:
        condition: service_started
    networks:
      - soa-network

  # 3. CATALOG SERVICE
  catalog-service:
    build:
      context: .
      dockerfile: catalog-service/Dockerfile
    deploy:
      replicas: 3
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/catalog_db
      - SPRING_CLOUD_CONSUL_HOST=consul
      - STRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATASOURCE_USERNAME=soa_user
      - SPRING_DATASOURCE_PASSWORD=soa_password
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=admin123
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/v-tourhub
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/v-tourhub/protocol/openid-connect/certs
      - TZ=Asia/Ho_Chi_Minh
      - MINIO_URL=http://minio:9000
      - MINIO_ACCESS_KEY=minio_admin
      - MINIO_SECRET_KEY=minio_password
      - MINIO_BUCKET=catalog-media
    depends_on: 
      mysql:
        condition: service_healthy
      consul:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      keycloak:
        condition: service_started
    networks: [soa-network]

  # 4. BOOKING SERVICE
  booking-service:
    build:
      context: .
      dockerfile: booking-service/Dockerfile
    deploy:
      replicas: 4
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/booking_db
      - SPRING_CLOUD_CONSUL_HOST=consul
      - STRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATASOURCE_USERNAME=soa_user
      - SPRING_DATASOURCE_PASSWORD=soa_password
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=admin123
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/v-tourhub
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/v-tourhub/protocol/openid-connect/certs
      - TZ=Asia/Ho_Chi_Minh
    depends_on: 
      mysql:
        condition: service_healthy
      consul:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      keycloak:
        condition: service_started
    networks: [soa-network]

  # 7. PAYMENT SERVICE
  payment-service:
    build:
      context: .
      dockerfile: payment-service/Dockerfile
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/payment_db
      - SPRING_CLOUD_CONSUL_HOST=consul
      - STRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATASOURCE_USERNAME=soa_user
      - SPRING_DATASOURCE_PASSWORD=soa_password
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=admin123
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/v-tourhub
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/v-tourhub/protocol/openid-connect/certs
      - TZ=Asia/Ho_Chi_Minh
    depends_on: 
      mysql:
        condition: service_healthy
      consul:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      keycloak:
        condition: service_started
    networks: [soa-network]

  # 8. NOTIFICATION SERVICE
  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/notification_db
      - SPRING_DATASOURCE_USERNAME=soa_user
      - SPRING_DATASOURCE_PASSWORD=soa_password
      - SPRING_CLOUD_CONSUL_HOST=consul
      - STRING_CLOUD_CONSUL_PORT=8500
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=admin123
      - TZ=Asia/Ho_Chi_Minh
      - SPRING_MAIL_HOST=maildev
      - SPRING_MAIL_PORT=1025
    depends_on: 
      mysql:
        condition: service_healthy
      consul:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      maildev:
        condition: service_healthy
    networks: [soa-network]

networks:
  soa-network:
    driver: bridge